@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            <ErrorBoundary @ref="errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <h1>det oppsto en feil</h1>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

<MudThemeProvider Theme="Eurovision2024Theme"/>
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    MudTheme Eurovision2024Theme = new MudTheme()
    {
        Palette = new PaletteLight()
        {
            Primary = "#FB6AAF", // pink
            Secondary = "#F4DD15", // yellow
            Tertiary = "#FA8F7F", // orange
            Error = "#FF7713", // red
            Success = "#84CE7F", // green
            TableLines = "#FB6AAF"
        }
    };
}