@page "/"
@inject HttpClient Http

<PageTitle>eurovision</PageTitle>

<div>
    <p>ny spiller:</p>
    <input type="text" @bind="newUsername" @onkeydown="HandleEnterNew" />
    <button @onclick="CreatePlayer">spill</button> 
</div>
<br />
<div>
    <p>eksisterende spiller:</p>
    <input type="text" @bind="existingUsername" @onkeydown="HandleEnterExisting"/>
    <button @onclick="GetPlayer">spill</button>
</div>

@code {
    private string? newUsername;
    private string? existingUsername;
    private PlayerDto? player;

    private async Task CreatePlayer()
    {
        if (string.IsNullOrEmpty(newUsername))
        {
            return;
        }
        var response = await Http.PostAsJsonAsync<string>("https://localhost:7195/api/Players/", newUsername); // TODO: automatically parse url
        if (response.IsSuccessStatusCode)
        {
            player = await response.Content.ReadFromJsonAsync<PlayerDto>();
            Console.WriteLine($"Successfully created player with username: {player!.Username}");
        }
        else
        {
            // TODO: handle error
            Console.WriteLine($"Failed to create new player due to: {response.StatusCode}");
        }
    }

    private async Task GetPlayer()
    {
        var response = await Http.GetFromJsonAsync<PlayerDto>($"https://localhost:7195/api/Players/{existingUsername}");
        if (response != null) // TODO: handle error
        {
            player = response;
            Console.WriteLine($"Got existing player with username: {player.Username}");
        }
        else
        {
            // TODO: handle error
            Console.WriteLine($"Failed to get existing player");
        }
    }

    private async Task HandleEnterNew(KeyboardEventArgs args)
    {
        if (args.Code == "Enter" || args.Code == "NumpadEnter")
        {
            await CreatePlayer();
        }
    }

    private async Task HandleEnterExisting(KeyboardEventArgs args)
    {
        if (args.Code == "Enter" || args.Code == "NumpadEnter")
        {
            await GetPlayer();
        }
    }
}
