@page "/"
@inject HttpClient Http
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>eurovision</PageTitle>

<div>
    <p>ny spiller:</p>
    <input type="text" @bind="newUsername" @onkeydown="HandleEnterNew" />
    <button @onclick="CreatePlayer">spill</button> 
</div>
<br />
<div>
    <p>eksisterende spiller:</p>
    <input type="text" @bind="existingUsername" @onkeydown="HandleEnterExisting"/>
    <button @onclick="GetPlayer">spill</button>
</div>

@code {
    private string? newUsername;
    private string? existingUsername;
    private PlayerDto? player;

    private async Task CreatePlayer()
    {
        if (string.IsNullOrEmpty(newUsername))
        {
            ToastService.ShowError("noe gikk galt, prøv igjen");
            return;
        }

        var response = await Http.PostAsJsonAsync<string>("https://localhost:7195/api/Players/", newUsername); // TODO: automatically parse url
        if (response.IsSuccessStatusCode)
        {
            player = await response.Content.ReadFromJsonAsync<PlayerDto>();
            ToastService.ShowSuccess("spiller opprettet");
            Console.WriteLine($"Successfully created player with username: {player!.Username}");
            NavigationManager.NavigateTo($"/player/{player!.Id}");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Conflict)
        {
            ToastService.ShowError("brukernavnet er allerede i bruk");
            Console.WriteLine($"Failed to create new player due to: {response.StatusCode}");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            ToastService.ShowError("ugyldig brukernavn");
            Console.WriteLine($"Failed to create new player due to: {response.StatusCode}");
        }
        else
        {
            ToastService.ShowError("noe gikk galt, prøv igjen");
            Console.WriteLine($"Failed to create new player due to: {response.StatusCode}");
        }
    }

    private async Task GetPlayer()
    {
        if (string.IsNullOrEmpty(existingUsername))
        {
            ToastService.ShowError("noe gikk galt, prøv igjen");
            return;
        }

        var response = await Http.GetAsync($"https://localhost:7195/api/Players/{existingUsername}");
        if (response.IsSuccessStatusCode)
        {
            player = await response.Content.ReadFromJsonAsync<PlayerDto>();
            Console.WriteLine($"Got existing player with username: {player!.Username}");
            NavigationManager.NavigateTo($"/player/{player!.Id}");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            ToastService.ShowError("spilleren eksisterer ikke");
            Console.WriteLine($"Failed to get existing player");
        }
        else
        {
            ToastService.ShowError("noe gikk galt, prøv igjen");
            Console.WriteLine($"Failed to create new player due to: {response.StatusCode}");
        }
    }

    private async Task HandleEnterNew(KeyboardEventArgs args)
    {
        if (args.Code == "Enter" || args.Code == "NumpadEnter")
        {
            await CreatePlayer();
        }
    }

    private async Task HandleEnterExisting(KeyboardEventArgs args)
    {
        if (args.Code == "Enter" || args.Code == "NumpadEnter")
        {
            await GetPlayer();
        }
    }
}
