@page "/"
@using EurovisionOnMars.Dto
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <p>lag ny bruker:</p>
    <input type="text" @bind="username" onkeypress="HandleKeyPress" />
    <button onclick="CreatePlayer">lagre</button>
</div>

@code {
    private string username;

    private async Task CreatePlayer()
    {
        await Http.PostFromJsonAsync<PlayerDto>("Players", username);
    }
}
